.quill  .ql-container.ql-snow {
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: none;
  background-color: #fffa;
  height: 100%;
}

div.ql-container.ql-snow img {
  max-width: 50%;
}

.ql-editor.ql-blank::before{
  color: #fffA;
}

.notes .css-e3bvit-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-e3bvit-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input.css-e3bvit-MuiNativeSelect-select-MuiInputBase-input-MuiInput-input{
  color: #fff;
}

.notes .css-1ghmrlz-MuiFormLabel-root-MuiInputLabel-root{
  color: #fff !important;
}

.quill {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quill .ql-toolbar.ql-snow {
  z-index: 1000;
  position: sticky;
  top: 0;
  width: 100%;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #fff8;
}

.ql-clean svg .ql-stroke{
  stroke: #a00;
}
.ql-clean svg .ql-fill{
  fill: #a00;
}




/* Sélect des champs sur mobile */

